<!DOCTYPE html>
<html>
  <head>
    <title>Test report - Code Tagger</title>
    ###tabulator_css###
    ###css###
  </head>
  <body>
    <h1>Test report</h1>
    <div class="timestamp">###timestamp###</div>
    <div id="table-filters">
      <form id="filter-form">
        <div>
          <input id="filter-input" type="text" />
          <button id="filter-apply" type="submit">Filter</button>
        </div>
        <div>
          <label for="filterOR">
            <input type="radio" id="filterOR" name="filterCombination" value="OR" checked />
            Any
          </label>
          <label for="filterAND">
            <input type="radio" id="filterAND" name="filterCombination" value="AND" />
            All
          </label>
          <button id="show-advanced-filters" class="link">Advanced filters</button>
        </div>
        <div id="filter-advanced" class="hidden">
          <label class="advanced-label" for="enableAutotags">
            Enable Autotags
          </label>
          <div class="advanced-content">
            <input id="enableAutotags" name="enableAutotags" type="checkbox" checked />
          </div>
          <label class="advanced-label">Target fields</label>
          <div id="filterFields" class="advanced-content"></div>
        </div>
      </form>
    </div>
    <div id="data-table"></div>
    ###tabulator_script###
    ###data###
    ###js###
  </body>
</html>