<!DOCTYPE html>
<html>
  <head>
    <title>Test report - Code Tagger</title>
    <link href="https://unpkg.com/tabulator-tables@5.5.0/dist/css/tabulator.min.css" rel="stylesheet">
  </head>
  <body>
    <div id="data-table"></div>
    <script type="text/javascript" src="https://unpkg.com/tabulator-tables@5.5.0/dist/js/tabulator.min.js"></script>
    <script type="text/javascript">const reportData=###data###</script>
    <script type="text/javascript" src="../src/view/report.js"></script>
  </body>
</html>