<!DOCTYPE html>
<html>
  <head>
    <title>Test report - Code Tagger</title>
    <meta charset="UTF-8">
    ###tabulator_css###
    ###css###
  </head>
  <body>
    <h1>Test report</h1>
    <div class="summary__container">
      <div>Created</div>
      <div>###timestamp###</div>
      <div>File count</div>
      <div id="summary-files"></div>
      <div>Test count</div>
      <div id="summary-test-count"></div>
      <div>Skipped tests</div>
      <div id="summary-skipped"></div>
    </div>
    <div id="table-filters">
      <form id="filter-form">
        <div>
          <input id="filter-input" type="text" />
          <button id="filter-apply" type="submit">Filter</button>
        </div>
        <div>
          <label for="filterOR">
            <input type="radio" id="filterOR" name="filterCombination" value="OR" checked />
            Any
          </label>
          <label for="filterAND">
            <input type="radio" id="filterAND" name="filterCombination" value="AND" />
            All
          </label>
          <button id="show-advanced-filters" class="link">Advanced filters</button>
        </div>
        <div id="filter-advanced" class="hidden">
          <label class="advanced-label" for="displaySelector">Display</label>
          <div class="advanced-content">
            <select id="displaySelector">
              <option value="tree">Tree</option>
              <option value="flat">Flat</option>
            </select>
          </div>
          <label class="advanced-label" for="groupSelector">Group by</label>
          <div class="advanced-content">
            <select id="groupSelector">
              <option value="file">File</option>
              <option value="functionality">Functionality</option>
            </select>
          </div>
          <label class="advanced-label" for="testExecutionSelector">Show tests</label>
          <div class="advanced-content">
            <select id="testExecutionSelector">
              <option value="all">All</option>
              <option value="skipped">Skipped only</option>
              <option value="not-skipped">Not skipped</option>
            </select>
          </div>
          <label class="advanced-label" for="enableAutotags">
            Enable Autotags
          </label>
          <div class="advanced-content">
            <input id="enableAutotags" name="enableAutotags" type="checkbox" checked />
          </div>
          <label class="advanced-label">Target fields</label>
          <div id="filterFields" class="advanced-content"></div>
        </div>
      </form>
    </div>
    <div id="data-table"></div>
    ###tabulator_script###
    ###data###
    ###config###
    ###js###
  </body>
</html>